<template name="postItem">
	<li>
		<div class="num"><span>#.</span></div>
		<div class="q">
			<div class="txt"><strong><a href="{{url}}">{{title}}</a> - {{domain}}</strong></div>
		</div>
		<div class="logo"><a
				href="/Overview/Working-at-The-Zappos-Family-EI_IE19906.11,28.htm"
				class="sqLogoLink"> <span class="sqLogo tighten smSqLogo"> <img
				src="http://media.glassdoor.com/sqlm/19906/the-zappos-family-squarelogo-1410311872359.png"
				data-original="http://media.glassdoor.com/sqls/19906/the-zappos-family-squarelogo-1410311872359.png"
				data-original-2x="http://media.glassdoor.com/sqlm/19906/the-zappos-family-squarelogo-1410311872359.png"
				class="notranslate_alt notranslate_title lazy lazyLoaded"
				data-retina-ok="true"
				alt="From a question asked at The Zappos Family"
				title="From a question asked at The Zappos Family"
				style="opacity: 1;"> </span> </a></div>
	</li>
</template>
