<template name="postItem">
	<li>
		<div>
			<div class="margRt ib middle pageLogo">
				<a href="{{url}}" title="Google Salaries">
					<span class="sqLogo tighten smSqLogo logo">
						<img src="http://media.glassdoor.com/sqls/9079/google-squarelogo-1411597920988.png" data-original="http://media.glassdoor.com/sqls/9079/google-squarelogo-1411597920988.png" class="notranslate_alt notranslate_title lazy lazyLoaded" data-retina-ok="true" alt="" title="" style="opacity: 1;">
					</span>
				</a>
			</div>
			<div class="ib middle pageText">
				<div class="pageTitle">
					<a href="{{url}}" title="Google Overview">{{title}}</a>
				</div>
				<div class="pageInfo">
					<span class="minor">
						<a class="companyReviews" href="{{url}}">2,580 Google reviews. A free inside look at company reviews and salaries posted anonymously by employees.</a>
					</span>
				</div>
			</div>
		</div>
	</li>
</template>
